#main {
    background-color: bisque;
    /* display: flex; */
  }
  
  a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-size: 18px;
    /* display: flex; */
  }
   h1{
    display: flex;
    justify-content: center;
    color: green;
   }